# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

/output
/.mirage
/Mirage
/dexdb.sqlite
config.json
config.yaml
derp.yaml
*.hujson
*.key
db.sqlite*
*.sqlite3
.db.sqlite-litestream

/download

# Exclude Jetbrains Editors
.idea

test_output/
control_logs/

/controller/html
/controller/console_html
/controller/cockpit_html

# Nix build output
result
.direnv/

integration_test/etc/config.dump.yaml

/admin/node_modules/