# 服务器地址
server_url: <服务器地址（不带https://，必须为https）>
# 监听IP及端口
listen_addr: 0.0.0.0:8080

# 蜃境虚拟IP段
ip_prefixes:
  - 100.64.0.0/10
  - fd7a:115c:a1e0::/48

# 网络向导拉取URL（只接受URL）
derp_url: "https://controlplane.tailscale.com/derpmap/default"

# 日志ES服务配置
es_url: <ES服务URL，通常9200端口那个>
es_apikey: <ES API密钥>

# 幻域DNS的基础域名
base_domain: <域名格式>

# 是否依据子网转发节点的可访问性自动赋予被转发子网的可访问性
allow_route_due_to_machine: true

# OIDC配置
oidc:
  issuer: <"">
  client_id: <"">
  client_secret: <"">
  scope: ["openid", "email", "phone", "profile"]
  extra_params:
    prompt: "login"

# 微信小程序扫码登录服务网址
wxscan:
  url: <带协议完整URL>

# 阿里云IDaaS注册用户用API配置
ali_app_id: <app_moeXXXXXXXXXXXXXXX>
ali_cli_id: <app_moeXXXXXXXXXXXXXXX>
ali_cli_key: <client Key>
ali_instance: <idaas_XXXXXXXXXXXXX>
ali_org_id: <ou_XXXXXXXXXXX>

# 阿里云验证短信发送配置（用于注册用户时验证）
ali_access_id: <ID>
ali_access_key: <Key>
ali_sms_sign: <短信发送服务签名>
ali_sms_template: <短信发送服务模板>

# 组织（目前默认为个人用户，Personal代表每个用户独立成组织）
org_name: "Personal"
