
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Tailscale</title>
  <link rel="stylesheet" type="text/css" href="/base.css">
</head>
<body>
  <main class="text-center">
    <header class="flex items-center justify-center mb-20">
  <a href="https://tailscale.com">
    <svg class="logo" width="28" height="28" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle opacity="0.2" cx="3.4" cy="3.25" r="2.7" fill="currentColor" />
      <circle cx="3.4" cy="11.3" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="3.4" cy="19.5" r="2.7" fill="currentColor" />
      <circle cx="11.5" cy="11.3" r="2.7" fill="currentColor" />
      <circle cx="11.5" cy="19.5" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="11.5" cy="3.25" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="19.5" cy="3.25" r="2.7" fill="currentColor" />
      <circle cx="19.5" cy="11.3" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="19.5" cy="19.5" r="2.7" fill="currentColor" />
    </svg>
  </a>
  <div class="flex items-center">
    <div class="text-right truncate mt-1 mr-2" style="max-width: 25ch; line-height: 1;">
      <span class="font-medium">test@nopkt.com</span><br />
      <a class="text-xs text-gray-6" href="/logout?next_url=%2fwelcome">Switch account</a>
    </div>
    <div class="profile-pic" style="background-image: url();"></div>
  </div>
</header>

    
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mb-2" style="color: #419E71;"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
      <div class="text-md font-medium mb-4">
        Connect using the app
      </div>
      <p class="text-gray-7 mb-8">
        Sign in from the Tailscale app on your computer or phone to join
        the <strong>nopkt.com</strong> network.
      </p>
      <figure class="mb-8">
        
        <img width="100%" src="/welcome-windows.png" alt="Welcome to Tailscale"/>
        
      </figure>
      <p class="text-gray-7">
        Connect other devices by<br />
        <a class="link text-underline" href="https://tailscale.com/download" target="_blank">installing Tailscale</a> on them.
      </p>
    </div>
    
    <footer class="text-gray-6">
  Want to create a new network?<br>
  <a class="text-underline" href="/logout?next_url=%2fwelcome">Switch account</a>
  or
  <a class="text-underline" href="https://tailscale.com/kb/1064/invite-team-members">learn more</a>.
</footer>

  </main>
</body>
</html>
