<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>蜃境</title>
  <link rel="stylesheet" type="text/css" href="/base.css">
</head>
<body>
  <main class="text-center">
    <header class="flex items-center justify-center mb-20">
  <a href="https://tailscale.com">
    <svg class="logo" width="28" height="28" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle opacity="0.2" cx="3.4" cy="3.25" r="2.7" fill="currentColor" />
      <circle cx="3.4" cy="11.3" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="3.4" cy="19.5" r="2.7" fill="currentColor" />
      <circle cx="11.5" cy="11.3" r="2.7" fill="currentColor" />
      <circle cx="11.5" cy="19.5" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="11.5" cy="3.25" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="19.5" cy="3.25" r="2.7" fill="currentColor" />
      <circle cx="19.5" cy="11.3" r="2.7" fill="currentColor" />
      <circle opacity="0.2" cx="19.5" cy="19.5" r="2.7" fill="currentColor" />
    </svg>
  </a>
  <div class="flex items-center">
    <div class="text-right truncate mt-1 mr-2" style="max-width: 25ch; line-height: 1;">
      <span class="font-medium">test@nopkt.com</span><br />
      <a class="text-xs text-gray-6" href="/logout?next_url=%2fwelcome">Switch account</a>
    </div>
    <div class="profile-pic" style="background-image: url();"></div>
  </div>
</header>

    
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="mb-2" style="color: #419E71;"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
      <h1 class="text-md font-medium mb-6">
        Join your network
      </h1>
      <p class="text-gray-7 mb-10">
        Your account is a member of the <strong>nopkt.com</strong> network.
        Download Tailscale and sign in as <strong>test@nopkt.com</strong> to&nbsp;connect.
      </p>
      <a class="button" href="https://tailscale.com/download" target="_blank">
  <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
    <polyline points="7 10 12 15 17 10"></polyline>
    <line x1="12" y1="15" x2="12" y2="3"></line>
  </svg>
  Download Tailscale
</a>

    </div>
    
    <footer class="text-gray-6">
  Want to create a new network?<br>
  <a class="text-underline" href="/logout?next_url=%2fwelcome">Switch account</a>
  or
  <a class="text-underline" href="https://tailscale.com/kb/1064/invite-team-members">learn more</a>.
</footer>

  </main>
</body>
</html>
